body {
    background-color: rgb(120, 110, 212);
}

.centered-title {
    text-align: center;
}

.image{
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    height: 400px;
    align-items: center;
}

.cuadro {
    display: flexbox;
    margin: 0 auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    text-align: center;
    border-radius: 20px;
    height: 400px;
}

#cuadro_img1 {
    margin-inline: 330px;
}

#cuadro_img2 {
    margin-inline: 280px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
